<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/harvestsphere"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/harvestsphere"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarvestSphere"
        tools:targetApi="31">
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CartManager"
            android:exported="false" />
        <activity
            android:name=".SellProducts"
            android:exported="false" />
        <activity
            android:name=".biditem"
            android:exported="false" />
        <activity
            android:name=".facts"
            android:exported="false" />
        <activity
            android:name=".Login1"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".BrowserDialog"
            android:exported="false" />
        <activity
            android:name=".Weather_ForeCast"
            android:exported="false" />
        <activity
            android:name=".MobileSignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".EmailSignUp"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".forgotpwd"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".otp"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Phone_Verification" />
        <activity android:name=".bidding" />
        <activity android:name=".Edit_Profile" />
        <activity android:name=".FArmer_Sales" />
        <activity android:name=".FarmersInfo" />
        <activity android:name=".sign_up" />
        <activity android:name=".retailer" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true"/>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.razorpay.TOKEN_RECEIVED" />
            </intent-filter>
            </receiver>
    </application>

</manifest>